body {
    box-sizing: border-box;

}
h1 {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 2em;
}
span {
    color: rgb(47, 168, 53);
}
p {
    font-family: 'Roboto';
    font-weight: normal;
    color: black;
    font-size: 0.9em;
    padding-top: 5px;
}
h2 {
    font-family: 'Trocchi';
    font-weight: normal;
    font-size: 2.2em;
    color: rgb(11, 121, 211);
    line-height: 0em;
}
/* a.site1:link { */
    #site1 {
    color: black;
    text-decoration: none;
}
#site2 {
/* a.site2:link { */
    #site2 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(11, 121, 211);
    text-decoration: none;
    padding-top: 10px;
}
/* a:link {
    text-decoration: none;
} */
div {
    background-color: rgb(250, 244, 160);
    width: 500px;
    height: 250px;
    text-align: center;
    background-position: center;
    padding: 1px 20px;
    margin: auto;
    /* background-size: contain; */
    

}



