a {
color: lightpink;
text-decoration: none;
}
a:link {
text-decoration: khaki;
}
a:visited {
text-decoration: lightslategray;
}
a:hover {
cursor: progress;
text-decoration: underline;
text-decoration-color: lightseagreen;
}
::selection {
    background-color: lightslategrey;
}
/* ::first-line {
    text-transform: lowercase;
} */
::first-letter {
    text-transform: uppercase;
}
.dropdown {
    background-color: rgb(213, 248, 56);
}
.magic {
    display: none;
    position: absolute;
    /* padding: 10em; */
    /* top: 1em;      SE VA DESCHIDE CASUTA IN SUS FATA DE ORIGINEA LUI */
    background-color: lightslategrey;
    border-radius: 5px;
}
.dropdown:hover .magic {
    display: block;
    transform: rotate(20deg);
}
.trans {
    background-color: mediumaquamarine;
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    /* transform: rotate(90deg); scale (orizontal, vertical)*/
    transform: rotate(30deg) scale(2, 2);
    /* transform: rotate(30deg) scale(0.5, 0.5); */
    /* transition: top - CE VREM SA MODIFICAM 2s - CAT TIMP VREM SA MODIFICAM; */
    /* transition: background-color 2s; */
    /* transition: 2s;  SE TRANSFORMA PE FORMA INITIALA */
    /* transition: 2s; */
    /* transition: transform 2s, background-color 1s; */
    transition: 1s;
}
.trans:hover {
    background-color: mediumvioletred;
}
.trans2 {
    background-color: blueviolet;
    position: absolute;
    top: 20%;
    left: 20%;
    color: chartreuse;
    padding: 30px;
    transform: rotate(-360deg);
    transform-origin: top left;
    /* transition: transform 2s; se pune tranzitia doar pe transform, doar pe rotatie*/ 
    transition: transform 2s;
    transition-delay: 1s;
}